<form class="grid grid-cols-1 gap-5 place-items-center" [formGroup]="formControl" (ngSubmit)="onSubmit($event)">
  <label for="profile" class="text-lg font-semibold text-gray-700">Upload Image</label>
  <input name="profile"  id="profile" type="file" (change)="onFileChange($event)"  formControlName="file" accept=".jpg, .jpeg, .png, .webp">
  <div>
    <button type="submit"

            class="px-4 py-2 text-white bg-indigo-600 rounded-md hover:bg-indigo-500 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-indigo-600"
    >
      Submit
    </button>
  </div>
</form>
@if(previewUrl){
  <div>
    <h3>Image Preview:</h3>
    <img [src]="previewUrl" alt="Image Preview" style="max-width: 100%; height: auto;" />
  </div>
}
<button
  type="submit"
  (click)="logoutAction()"
  class="px-4 py-2 text-white bg-indigo-600 rounded-md hover:bg-indigo-500 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-indigo-600"
>
  Logout
</button>

<a routerLink="/" class="px-4 py-2 text-white bg-indigo-600 rounded-md hover:bg-indigo-500 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-indigo-600">
  Back to Home
</a>


<!--


@for (image of images; track images.id){
  <div>
    <img [src]="image.url" alt="Image" style="max-width: 100%; height: auto;" />
  </div>
}
 -->
